Services/ATS.Service.WCFClient/Service References/WCFPerson/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ATS.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPerson_ATSFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ATS.Service" name="detail" element="q1:ATSFault" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetSupervisedStaffs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupervisedStaffs" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetSupervisedStaffs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupervisedStaffsResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetSupervisedStaffs_ATSFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ATS.Service" name="detail" element="q2:ATSFault" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPerson" message="tns:IPersonService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonResponse" message="tns:IPersonService_GetPerson_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPersonService/GetPersonATSFaultFault" name="ATSFaultFault" message="tns:IPersonService_GetPerson_ATSFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupervisedStaffs">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetSupervisedStaffs" message="tns:IPersonService_GetSupervisedStaffs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetSupervisedStaffsResponse" message="tns:IPersonService_GetSupervisedStaffs_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPersonService/GetSupervisedStaffsATSFaultFault" name="ATSFaultFault" message="tns:IPersonService_GetSupervisedStaffs_ATSFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ATSFaultFault">
        <soap:fault use="literal" name="ATSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSupervisedStaffs">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetSupervisedStaffs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ATSFaultFault">
        <soap:fault use="literal" name="ATSFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:8733/ATSServices/PersonService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>