Services/ATS.Service.WCFClient/Service References/LeaveClient/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ATS.Service" />
  <xs:element name="GetLeaveSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="companyId" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATS.Service" minOccurs="0" name="GetLeaveSummaryResult" nillable="true" type="q1:ArrayOfLeaveSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personId" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="month" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLeaveDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATS.Service" minOccurs="0" name="GetLeaveDetailsResult" nillable="true" type="q2:ArrayOfLeave" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>